<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CANFI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <CANFI.Properties.Settings>
            <setting name="RTL_Device" serializeAs="String">
                <value>[none]</value>
            </setting>
            <setting name="RTL_RTLAGC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTL_TunerAGC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTL_TunerGain" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="COM_Port" serializeAs="String">
                <value>[none]</value>
            </setting>
            <setting name="COM_Noise" serializeAs="String">
                <value>RTS</value>
            </setting>
            <setting name="COM_DUT" serializeAs="String">
                <value>DTR</value>
            </setting>
            <setting name="RTL_SampleCount" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="RTL_SampleRate" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="COM_Port_Use" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COM_Noise_Use" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COM_DUT_Use" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P_ENR" serializeAs="String">
                <value>15.4</value>
            </setting>
            <setting name="RTL_GainMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Smoothing" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RTL_P_ENR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DUT_Frequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DUT_P_ENR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="RTL_ClipValue_Max" serializeAs="String">
                <value>1275</value>
            </setting>
            <setting name="RTL_ClipValue_Min" serializeAs="String">
                <value>-1275</value>
            </setting>
            <setting name="RTL_MaxClipAllowed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Noise_File_Activate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Noise_FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="RTL_Frequency_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RTL_Frequency_Max" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="DUT_Frequency_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DUT_Frequency_Max" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="Modes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>A;Measuring of Amplifiers in Direct Mode</string>
                        <string>B;Measuring of Converters in Coverter Mode</string>
                        <string>C;Measuring of Amplifiers with Converter Mode</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CAL_SampleCount_Min" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CAL_SampleCount_Max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RTL_AGC_Auto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTL_SampleCount_Min" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RTL_SampleCount_Max" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="COM_DUT_Inverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COM_Noise_Inverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CAL_Logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTL_Logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FFT_RealtimeDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Smoothing_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Smoothing_Max" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTL_Logging_FileName" serializeAs="String">
                <value>Values.csv</value>
            </setting>
            <setting name="CAL_Logging_FileName" serializeAs="String">
                <value>Calibration.csv</value>
            </setting>
            <setting name="Tamb" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="T0" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="COM_Delay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RTL_Frequency_Step" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="RTL_Frequency_Start" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RTL_Frequency_Stop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FFT_Filter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTL_DeviceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RTL_Frequency" serializeAs="String">
                <value>144</value>
            </setting>
            <setting name="FFT_Filter_Threshold" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FFT_Filter_NotchWidth" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SweepMode" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="DUT_Frequency_Start" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DUT_Frequency_Stop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DUT_Frequency_Step" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FFT_Algorithm" serializeAs="String">
                <value>FFTW</value>
            </setting>
            <setting name="RTL_DLL_DownloadInfo_URL" serializeAs="String">
                <value>http://www.canfi.eu/downloads/rtlsdr.txt</value>
            </setting>
            <setting name="Info_FileName" serializeAs="String">
                <value>LICENSE</value>
            </setting>
            <setting name="RTL_DLL_Win_FileName" serializeAs="String">
                <value>rtlsdr.dll</value>
            </setting>
            <setting name="RTL_DLL_Lin_FileName" serializeAs="String">
                <value>librtlsdr.so</value>
            </setting>
            <setting name="RTL_DLL_DirName" serializeAs="String">
                <value>rtlsdr</value>
            </setting>
            <setting name="RTL_DLL_Zip_FileName" serializeAs="String">
                <value>rtlsdr.zip</value>
            </setting>
            <setting name="Tone_Output" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="Tone_NF_0kHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tone_Interval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Tone_Duration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Tone_NF_10kHz" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Tone_G_0kHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tone_G_10kHz" serializeAs="String">
                <value>40</value>
            </setting>
        </CANFI.Properties.Settings>
    </userSettings>
</configuration>
